:root {
    --color1: rgb(234, 223, 173);
    --color2: rgb(227, 203, 99);
    --color3: rgb(248, 219, 64);
    --color4: rgb(164, 137, 19);   
    --color5: rgb(110, 91, 0);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(5, 4, 4);  
    color: rgb(235, 234, 221);
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    font-family: 'Cinzel Decorative', cursive;
}

nav {
    transition: all 1s;
    background-image: linear-gradient(90deg,  rgb(5, 4, 4) 10% , rgba(0,0,0,0) 40%),url(src/background/banner.jpg);
    background-position-x: 10em;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

.logo {
    display: flex;
    background-color: rgb(5, 4, 4);
    width: 20em;
    height:20em;
    align-items: center;
    justify-content: center ;
}

#logo {
    height: 15em;
    filter: grayscale(90%);
    transition: 0.5s;
}

#logo:hover {
    filter:grayscale(0%);
}


/* ****************************  MENU DESPLEGABLE  *************************** */


#menu {
    margin: 0.5em 0;
    display: flex;
    cursor: pointer;
    width: 2em;
    box-shadow: 1px 2px 2px 1px white;
}

#menu-desplegable {
    display: flex;
    margin: 0 auto; 
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    top: -5em;
    left: -40em;
       
    transition: opacity 0.5s, left 1.2s;
    opacity: 0;
}

.opciones {
    margin: 1em;
}

#botonMenu {
    z-index: 2;
    transition: 0.15s;
}

#botonMenu:hover {
    color: var(--color3);
}

a {
    text-decoration: none;
    color: rgb(235, 234, 221);
}

.opciones {
    transition: 0.3s;
}

.opciones:hover {
    color: var(--color3);
}


/* ********************************  SLIDER  ******************************** */

input {
    display: none;
}

.controles {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 43%;
    height: 1em;
    width: 6em;
    background-color: rgba(0, 0, 0,0.4);
    align-items: center;
    justify-content: center;
    border-radius: 18px 18px 0 0;
    padding: 0.4em;    
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;    
    transition: transform 0.3s ease 0.2s, opacity 0.3s ease;
}

.controles > label {
    height: 1em;
    width: 1em;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;    
    margin: 0.2em
}

.controles > label:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.container-slider {
    width: 90%;
    max-width: 900px;
    margin: auto;
    position: relative;
    color: black;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.6);
}

.container-slider:hover .controles {
   transform: scaleY(1);
   opacity: 1;
}

.slider {
    display: flex;
    width: 400%;
    height: 25em;
    margin-left: -100%;
}

.slider__section {
    width: 100%;    
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 1em;
    height: 1em;
    background: rgba(250,251,252,.7);
    top: 50%;
    font-size: 27px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.3s ease;
    box-shadow: rgba(4, 4, 4, 0.775) 0px 0px 3px 1px;
}

.text {
    position: relative;
    top: -15%;
}


.container-slider:hover .slider__btn {
    transform: scale(1.1);
}

.slider__btn:hover {
    background-color: #fff;
}

.slider__btn-left {
    left: 0.35em;
}

.slider__btn-right {
    right: 0.35em;
}

/* ********** FOOTER ************** */

footer {
    background-color: rgba(252, 252, 252, 0.786);
    margin-top: auto;
    padding: 0.4em 0 0.2em 0.2em;
}

.whatsapp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    margin: 0.2em;
    position: relative;
    transition: 0.4s;
}
  
.whatsapp-container::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    z-index: 0;
}

.whatsapp-container::before:hover {
    transform: scale(1.1) translateY(-0.5em);
}

.social-media-icons {
    margin: 0.2em;
    filter: grayscale(90%);
    transition: filter 0.4s, transform 0.4s;
}

.social-media-icons:hover {
    filter: grayscale(0%);    
    transform: scale(1.09) translateY(-0.4em);
}

.redes {
    display: flex;
}
