:root {
    --color1: rgb(234, 223, 173);
    --color2: rgb(227, 203, 99);
    --color3: rgb(248, 219, 64);
    --color4: rgb(164, 137, 19);   
    --color5: rgb(110, 91, 0);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(5, 4, 4);  
    color: rgb(235, 234, 221);
    min-height: 45vh;
    
    display: flex;
    flex-direction: column;
    font-family: 'Cinzel Decorative', cursive;
}

nav {
    transition: all 1s;
    background-image: linear-gradient(90deg,  rgb(5, 4, 4) 10% , rgba(0,0,0,0) 40%),url(src/background/banner.jpg);
    background-position-x: 10em;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

#hero-index {
    height: 50vh;
}

#hero-hombres {
   height: 90vh;
}

#hero-mujeres {
    height: 50vh;
}

.logo {
    display: flex;
    background-color: rgb(5, 4, 4);
    width: 20em;
    height:20em;
    align-items: center;
    justify-content: center ;
}

#logo {
    height: 15em;
    filter: grayscale(90%);
    transition: 0.5s;
}

#logo:hover {
    filter:grayscale(0%);
}


/* ****************************  MENU DESPLEGABLE  *************************** */


#menu {
    margin: 0.5em 0;
    display: flex;
    cursor: pointer;
    width: 2em;
    box-shadow: 1px 2px 2px 1px white;
    transition: 0.15s;
}

#menu:hover {
    box-shadow: 1px 2px 2px 1px var(--color3);
}



#menu-desplegable {
    display: flex;
    margin: 0 auto; 
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    top: -5em;
    left: -80em;
       
    transition: opacity 0.5s, left 1s;
    opacity: 1;
}


.opciones {
    display: flex;
    flex-direction: row;;
    margin: 1em;

}

#boton-menu {
    z-index: 2;
    transition: 0.15s;
}

#boton-menu:hover {
    color: var(--color3);
}

a {
    text-decoration: none;
    color: rgb(235, 234, 221);
}

.opciones {
    transition: 0.3s;
}

.opciones:hover {
    color: var(--color3);
}



/* ************************  MENU DESPLEGABLE CATALOGO *********************** */


#menu-desplegable-catalogo {
    display: flex;
    margin: 0 auto; 
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    top: -6em;
    left: -2.2em;
      
    opacity: 0;
    
    color: rgb(0, 0, 0);
    transition: opacity 0.5s;
    flex-wrap: nowrap;
}

h2 {
    display: flex;
    position: relative;
    left: 25%;
    margin: 0.38em;
    transition: 0.15s;
    align-items: center;
    
    max-width: 0.01em;
}

h2:hover {
    color: var(--color1);
}

.opcionesCatalogo {
    width: 15em;
    text-align: center;
    
}

#hombres, #mujeres {
    position: absolute;
    top: -27em;
    left: -7.55em;
    background-color: rgba(232, 235, 169, 0.655);
    transition: top 1s;
}

#hombres h2 {
    left: 1.5em;
}

#mujeres {
    z-index: 0;
    
}

#hombres:hover, #mujeres:hover {
    background-color: rgba(251, 255, 127, 0.314);
}

#catalogo {
    cursor: pointer;
}

/* ********************************  SLIDER  ******************************** */

input {
    display: none;
}

.controles {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 43%;
    height: 1em;
    width: 6em;
    background-color: rgba(0, 0, 0,0.4);
    align-items: center;
    justify-content: center;
    border-radius: 18px 18px 0 0;
    padding: 0.4em;    
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;    
    transition: transform 0.3s ease 0.2s, opacity 0.3s ease;
}

.controles > label {
    height: 1em;
    width: 1em;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;    
    margin: 0.2em
}

.controles > label:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.container-slider {
    width: 90%;
    max-width: 900px;
    margin: 1em auto;
    position: relative;
    color: black;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.6);
}

.container-slider:hover .controles {
   transform: scaleY(1);
   opacity: 1;
}

.slider {
    display: flex;
    width: 400%;
    height: 25em;
    margin-left: -100%;
}

.slider__section {
    width: 100%;    
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 1em;
    height: 1em;
    background: rgba(250,251,252,.7);
    top: 50%;
    font-size: 27px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.3s ease;
    box-shadow: rgba(4, 4, 4, 0.775) 0px 0px 3px 1px;
}

.text {
    position: relative;
    top: -15%;
}


.container-slider:hover .slider__btn {
    transform: scale(1.1);
}

.slider__btn:hover {
    background-color: #fff;
}

.slider__btn-left {
    left: 0.35em;
}

.slider__btn-right {
    right: 0.35em;
}


/* ********** CATALOGO ************** */

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30em;
    height: 20em;
    transition: 0.3s;
    box-shadow: 0 0 6px 2px rgb(238, 229, 95);
}

.imagen-catalogo {
    aspect-ratio: 3/2;
    width: 30em;
    height: 20em;
    
}

#catalogo-hombres, #catalogo-mujeres {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;    
    gap: 60px 40px;
}

.precio-catalogo {
    position: relative;
    background-color: rgba(53, 50, 50, 0.601);
    color: rgb(216, 216, 211);
    border-radius: 0 0 10px 10px;
    left: -220%;
    opacity: 0;   
    transition: 0.4s;
    width: 8em;
    height: 1.7em;
}

.card:hover .precio-catalogo {
    opacity: 1;   
}

.card:hover {
    transform: translateY(-2em);
}

/* ********** FOOTER ************** */

footer {
    background-color: rgba(252, 252, 252, 0.786);
    margin-bottom: 0;
    padding: 0.4em 0 0.2em 0.2em;
}

.whatsapp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    margin: 0.2em;
    position: relative;
    transition: 0.4s;
}
  
.whatsapp-container::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    z-index: 0;
}

.whatsapp-container::before:hover {
    transform: scale(1.1) translateY(-0.5em);
}

.social-media-icons {
    margin: 0.2em;
    filter: grayscale(90%);
    transition: filter 0.4s, transform 0.4s;
}

.social-media-icons:hover {
    filter: grayscale(0%);    
    transform: scale(1.09) translateY(-0.4em);
}

.redes {
    display: flex;
}

/* ******************************   RESPONSIVE   ********************************** */


@media only screen and (max-width: 1050px) {
    body {
        font-size: 14px;
    }
    .container-slider {
        width: 70%;
    }
    #menu {
        margin: -0.1em;
        box-shadow: 1px 2px 2px 1px white;
    }
    nav {
        background-size: 90em;
    }
    #menu-desplegable {
        top: -4em
    }
    #hero-index {
        height: 54.5vh;
    }
}


@media only screen and (max-width: 894px) {
    .card {
        height: 200px;
        width: 300px; 
    }
    .imagen-catalogo {
        height: 200px;
        width: 300px; 
    }
}

@media only screen and (max-width: 750px) {
    .container-slider {
        width: 80%;
    }
}

@media only screen and (max-width: 620px) {
    body {
        font-size: 12px;
    }
    #menu {
        width: 2.5em;
    }
    #hero-index {
        height: calc(60vh + 5px);
    }
    .container-slider {
        margin: 6em auto;
    }
}

@media only screen and (max-width: 530px) {
    body {
        font-size: 10px;
    }
    #menu {
        width: 2.7em;
    }
    #hero-index {
        height: calc(66vh + 5px);
    }
}


@media only screen and (max-width: 460px) {
    body {
        font-size: 10px;
    }
    #menu-desplegable {
        flex-direction: column;
        margin: 0 0 0 12.5em;
    }
    
    #menu {
        margin: 0.5em 0;
        width: 3em;
        box-shadow: 1px 2px 2px 1px white;
    }

    #menu:hover {
        box-shadow: 1px 2px 2px 1px var(--color3);
    }

    #hero-index {
        height: calc(51vh + 6px);
    }
}